src/flows/QA_Rating_Review_Total.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Calculate Total</label>
        </rules>
    </decisions>
    <description>This calculates the total of the rating</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(
IF( ISBLANK([QA_Report_Review_Rating__c].Closure_Total__c),0, [QA_Report_Review_Rating__c].Closure_Total__c) + 
IF( ISBLANK([QA_Report_Review_Rating__c].Detail_Total__c),0, [QA_Report_Review_Rating__c].Detail_Total__c ) +
IF( ISBLANK(VALUE(TEXT([QA_Report_Review_Rating__c].Detail__c)) ),0, VALUE(TEXT([QA_Report_Review_Rating__c].Detail__c)) ) + 
IF( ISBLANK([QA_Report_Review_Rating__c].Initial_Prog_Total__c),0, [QA_Report_Review_Rating__c].Initial_Prog_Total__c ) + 
IF(ISBLANK([QA_Report_Review_Rating__c].Total__c),0,[QA_Report_Review_Rating__c].Total__c )
)
/3</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0281034253</name>
        <dataType>Number</dataType>
        <expression>(
IF( ISBLANK({!myVariable_current.Closure_Total__c}),0, {!myVariable_current.Closure_Total__c}) + 
IF( ISBLANK({!myVariable_current.Detail_Total__c}),0, {!myVariable_current.Detail_Total__c} ) +
IF( ISBLANK(VALUE(TEXT({!myVariable_current.Detail__c})) ),0, VALUE(TEXT({!myVariable_current.Detail__c})) ) + 
IF( ISBLANK({!myVariable_current.Initial_Prog_Total__c}),0, {!myVariable_current.Initial_Prog_Total__c} ) + 
IF(ISBLANK({!myVariable_current.Total__c}),0,{!myVariable_current.Total__c} )
)
/3</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>QA_Rating_Review_Total-3_InterviewLabel</interviewLabel>
    <label>QA Rating Review Total3</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>QA_Report_Review_Rating__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[QA_Report_Review_Rating__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Total</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Total QA Review Rating</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Total_QA_Review_Rating__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0281034253</elementReference>
            </value>
        </inputAssignments>
        <object>QA_Report_Review_Rating__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>QA_Report_Review_Rating__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>QA_Report_Review_Rating__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
