src/flows/SetContactonSurveyResults.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignPersonAccount</name>
        <label>AssignPersonAccount</label>
        <locationX>470</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>isPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>True</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCaseEmployee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountRecord.PersonContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeisClaimsProfessional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContactIdtoUpdateSettoEmployerField</name>
        <label>Contact Id to Update Set to Employer Field</label>
        <locationX>1301</locationX>
        <locationY>129</locationY>
        <assignmentItems>
            <assignToReference>varContactIdToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmployerContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>useContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSurveyResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PersonAccountFalse</name>
        <label>PersonAccountFalse</label>
        <locationX>470</locationX>
        <locationY>404</locationY>
        <assignmentItems>
            <assignToReference>isPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>False</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeisClaimsProfessional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAccountFieldonSurveyResult</name>
        <label>Set Account Field on Survey Result</label>
        <locationX>1054</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>SurveyResultRecord.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseEmployee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountIdToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseEmployee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSurveyResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContact</name>
        <label>Set Contact</label>
        <locationX>482</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>varCaseContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeisClaimsProfessional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactFieldonSurveyResult</name>
        <label>Set Contact Field on Survey Result</label>
        <locationX>1059</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>SurveyResultRecord.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContactTrue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactFieldonSurveyResulttoEmployee</name>
        <label>Set Contact Field on Survey Result to Employee</label>
        <locationX>1056</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>SurveyResultRecord.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseEmployee</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactIdToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseEmployee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSurveyResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactFieldonSurveyResulttoEmployerContact</name>
        <label>Set Contact Field on Survey Result to Employer Contact</label>
        <locationX>1058</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>SurveyResultRecord.ContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varEmployerContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactIdtoUpdateSettoEmployerField</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmployee</name>
        <label>Set Employee will use default from</label>
        <locationX>477</locationX>
        <locationY>138</locationY>
        <assignmentItems>
            <assignToReference>varCaseEmployee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isPersonAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>False</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>noContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>useContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeisClaimsProfessional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetEmployerContact</name>
        <label>Set Employer Contact</label>
        <locationX>478</locationX>
        <locationY>290</locationY>
        <assignmentItems>
            <assignToReference>varEmployerContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeisClaimsProfessional</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SurveyCount</name>
        <label>Survey Count</label>
        <locationX>748</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>varSurveyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyRatingScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopSurveyResult.Overall_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopthroughSurveyResult</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateContactTrue</name>
        <label>Update Contact True</label>
        <locationX>1300</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>useContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactIdToUpdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCaseContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSurveyResult</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CaseIdisPopulated</name>
        <label>CaseId is populated</label>
        <locationX>32</locationX>
        <locationY>10</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseIdisnotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSurveyResultId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupContactsonCase</targetReference>
            </connector>
            <label>Case Id and Survey Result is not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DetermineisPersonAccount</name>
        <label>Determine is Person Account</label>
        <locationX>203</locationX>
        <locationY>467</locationY>
        <defaultConnector>
            <targetReference>PersonAccountFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IfIsPersonAccountTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountRecord.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPersonAccount</targetReference>
            </connector>
            <label>If Is Person Account True?</label>
        </rules>
    </decisions>
    <decisions>
        <name>DetermineQueryonSurveyResults</name>
        <label>Determine Query on Survey Results</label>
        <locationX>1577</locationX>
        <locationY>275</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>ShouldLookupContact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varContactIdToUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookUpSurveyResultsbyContact</targetReference>
            </connector>
            <label>Should Lookup Contact</label>
        </rules>
        <rules>
            <name>ShouldLookupAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountIdToUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookupupSurveyResultAccount</targetReference>
            </connector>
            <label>Should Lookup Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>DetermineUpdateRecord</name>
        <label>Determine Update Record</label>
        <locationX>979</locationX>
        <locationY>723</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UpdateContactSurveyFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactIdToUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateContactRecord</targetReference>
            </connector>
            <label>Update Contact Survey Fields</label>
        </rules>
        <rules>
            <name>IsPersonAccounttoUpdate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContactIdToUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateAccontRecord</targetReference>
            </connector>
            <label>Is Person Account to Update?</label>
        </rules>
        <rules>
            <name>IsanAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccountIdToUpdate</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateAccountNonPerson</targetReference>
            </connector>
            <label>Is an Account?</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeisClaimsProfessional</name>
        <label>Record Type is Claims Professional</label>
        <locationX>669</locationX>
        <locationY>167</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>UpdateContacttoCaseContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyResultRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactFieldonSurveyResult</targetReference>
            </connector>
            <label>Update Contact to Case Contact</label>
        </rules>
        <rules>
            <name>UpdateContacttoCaseEmployee</name>
            <conditionLogic>(1 AND 2) OR  (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>SurveyResultRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>noContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactFieldonSurveyResulttoEmployee</targetReference>
            </connector>
            <label>Update Contact to Case Employee</label>
        </rules>
        <rules>
            <name>UpdateContacttoCaseEmployeeAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyResultRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>False</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountFieldonSurveyResult</targetReference>
            </connector>
            <label>Update Contact to Case Employee Account</label>
        </rules>
        <rules>
            <name>UpdateContacttoCaseEmployerContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SurveyResultRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactFieldonSurveyResulttoEmployerContact</targetReference>
            </connector>
            <label>Update Contact to Case Employer Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>SetcontactIDtoValuesifBlank</name>
        <label>Set contactID to Values if Blank</label>
        <locationX>28</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>RecordTypeisClaimsProfessional</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CaseContactBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseContact</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SurveyResultRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Claims Professional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContact</targetReference>
            </connector>
            <label>Case Contact Blank</label>
        </rules>
        <rules>
            <name>CaseEmployeeBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseEmployee</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SurveyResultRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmployee</targetReference>
            </connector>
            <label>Case Employee Blank</label>
        </rules>
        <rules>
            <name>CaseEmployerContactBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varEmployerContact</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>SurveyResultRecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetEmployerContact</targetReference>
            </connector>
            <label>Case Employer Contact Blank</label>
        </rules>
        <rules>
            <name>CaseEmployeeNotBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCaseEmployee</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>&apos;&apos;</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupAccount</targetReference>
            </connector>
            <label>Case Employee Not Blank</label>
        </rules>
    </decisions>
    <description>Sets the contact on the survey result record</description>
    <formulas>
        <name>contactID</name>
        <dataType>String</dataType>
        <expression>{!$Label.contactID}</expression>
    </formulas>
    <formulas>
        <name>SetAvgRating</name>
        <dataType>Number</dataType>
        <expression>{!varSurveyRatingScore} / {!varSurveyCount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Set Contact on Survey Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Contact on Survey Results</label>
    <loops>
        <name>LoopthroughSurveyResult</name>
        <label>Loop through Survey Result</label>
        <locationX>980</locationX>
        <locationY>600</locationY>
        <assignNextValueToReference>loopSurveyResult</assignNextValueToReference>
        <collectionReference>SurveyResultsCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SurveyCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DetermineUpdateRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRecordTypeName</name>
        <label>Get Record Type Name</label>
        <locationX>29</locationX>
        <locationY>227</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetcontactIDtoValuesifBlank</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SurveyResultRecord.RecordTypeId</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>SurveyResultRecordType</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupAccount</name>
        <label>Lookup Account</label>
        <locationX>27</locationX>
        <locationY>469</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DetermineisPersonAccount</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseEmployee</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountRecord</outputReference>
        <queriedFields>IsPersonAccount</queriedFields>
        <queriedFields>PersonContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupContactsonCase</name>
        <label>Lookup Contacts On Case</label>
        <locationX>29</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeName</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varCaseContact</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCaseEmployee</assignToReference>
            <field>Employee__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varEmployerContact</assignToReference>
            <field>EmployerContact__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookUpSurveyResultsbyContact</name>
        <label>Look Up Survey Results by Contact</label>
        <locationX>1234</locationX>
        <locationY>483</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthroughSurveyResult</targetReference>
        </connector>
        <filters>
            <field>ContactName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactIdToUpdate</elementReference>
            </value>
        </filters>
        <object>Survey_Results__c</object>
        <outputReference>SurveyResultsCollection</outputReference>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Overall_Rating__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupupSurveyResultAccount</name>
        <label>Lookup up Survey Result Account</label>
        <locationX>1451</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopthroughSurveyResult</targetReference>
        </connector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdToUpdate</elementReference>
            </value>
        </filters>
        <object>Survey_Results__c</object>
        <outputReference>SurveyResultsCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Overall_Rating__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccontRecord</name>
        <label>Update Accont Record</label>
        <locationX>979</locationX>
        <locationY>917</locationY>
        <filters>
            <field>PersonContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactIdToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AverageSurveyScore__c</field>
            <value>
                <elementReference>SetAvgRating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumofSurveys__c</field>
            <value>
                <elementReference>varSurveyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccountNonPerson</name>
        <label>Update Account Non Person</label>
        <locationX>726</locationX>
        <locationY>827</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountIdToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AverageSurveyScore__c</field>
            <value>
                <elementReference>SetAvgRating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumofSurveys__c</field>
            <value>
                <elementReference>varSurveyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContactRecord</name>
        <label>Update Contact Record</label>
        <locationX>1156</locationX>
        <locationY>835</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactIdToUpdate</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AverageSurveyScore__c</field>
            <value>
                <elementReference>SetAvgRating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumofSurveys__c</field>
            <value>
                <elementReference>varSurveyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSurveyResult</name>
        <label>Update Survey Result</label>
        <locationX>1578</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>DetermineQueryonSurveyResults</targetReference>
        </connector>
        <inputReference>SurveyResultRecord</inputReference>
    </recordUpdates>
    <startElementReference>CaseIdisPopulated</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>isPersonAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopSurveyResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>noContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SurveyResultRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>SurveyResultRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>SurveyResultsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Results__c</objectType>
    </variables>
    <variables>
        <description>Use this variable to determine if we updated the survey result contact field or account field.</description>
        <name>useContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varAccountIdToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contact from the Case</description>
        <name>varCaseContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Employee Field on Case</description>
        <name>varCaseEmployee</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactIdToUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Case Employer Contact</description>
        <name>varEmployerContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varIsEmployer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varSurveyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSurveyRatingScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSurveyResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
