src/flows/UpdateSurveyScore.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignVariables</name>
        <label>AssignVariables</label>
        <locationX>25</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>varSurveyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleSurveyResult.Overall_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopToCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVars</name>
        <label>AssignVars</label>
        <locationX>1291</locationX>
        <locationY>606</locationY>
        <assignmentItems>
            <assignToReference>varSurveyCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleSurveyResult.Overall_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ZerooutCounters</name>
        <label>Zero out Counters</label>
        <locationX>287</locationX>
        <locationY>175</locationY>
        <assignmentItems>
            <assignToReference>varSurveyCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSurveyScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsAccountorContact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsAccountorContact</name>
        <label>Is Account or Contact?</label>
        <locationX>546</locationX>
        <locationY>189</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopGetSurveyVariables.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookupSurveysbyAccount</targetReference>
            </connector>
            <label>Is Account</label>
        </rules>
        <rules>
            <name>IsContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopGetSurveyVariables.ContactName__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>LookupSurveyResultsbyContact</targetReference>
            </connector>
            <label>Is Contact</label>
        </rules>
    </decisions>
    <description>On Delete of a Survey Result this flow will take inputs from a trigger and loop through and update the score.</description>
    <formulas>
        <name>AvgScore</name>
        <dataType>Number</dataType>
        <expression>{!varSurveyScore} / {!varSurveyCount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Survey Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Survey Score</label>
    <loops>
        <name>LoopContacts</name>
        <label>Loop Contacts</label>
        <locationX>945</locationX>
        <locationY>313</locationY>
        <assignNextValueToReference>singleSurveyResult</assignNextValueToReference>
        <collectionReference>countSurveyResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignVars</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateContacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSurveyResults</name>
        <label>Loop Survey Results</label>
        <locationX>28</locationX>
        <locationY>124</locationY>
        <assignNextValueToReference>loopGetSurveyVariables</assignNextValueToReference>
        <collectionReference>SurveyResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ZerooutCounters</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>loopToCount</name>
        <label>loopToCount</label>
        <locationX>253</locationX>
        <locationY>463</locationY>
        <assignNextValueToReference>singleSurveyResult</assignNextValueToReference>
        <collectionReference>countSurveyResults</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignVariables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccountRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>LookupSurveyResultsbyContact</name>
        <label>Lookup Survey Results by Contact</label>
        <locationX>545</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopContacts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateContacts</targetReference>
        </faultConnector>
        <filters>
            <field>ContactName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopGetSurveyVariables.ContactName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>loopGetSurveyVariables.Id</elementReference>
            </value>
        </filters>
        <object>Survey_Results__c</object>
        <outputReference>countSurveyResults</outputReference>
        <queriedFields>Overall_Rating__c</queriedFields>
        <queriedFields>ContactName__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupSurveysbyAccount</name>
        <label>Lookup Surveys by Account</label>
        <locationX>254</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopToCount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>UpdateAccountRecords</targetReference>
        </faultConnector>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopGetSurveyVariables.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>loopGetSurveyVariables.Id</elementReference>
            </value>
        </filters>
        <object>Survey_Results__c</object>
        <outputReference>countSurveyResults</outputReference>
        <queriedFields>Overall_Rating__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccountRecords</name>
        <label>Update Account Records</label>
        <locationX>29</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>LoopSurveyResults</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopGetSurveyVariables.Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AverageSurveyScore__c</field>
            <value>
                <elementReference>AvgScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumofSurveys__c</field>
            <value>
                <elementReference>varSurveyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>Update Contacts</label>
        <locationX>843</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>LoopSurveyResults</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopGetSurveyVariables.ContactName__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AverageSurveyScore__c</field>
            <value>
                <elementReference>AvgScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumofSurveys__c</field>
            <value>
                <elementReference>varSurveyCount</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>LoopSurveyResults</startElementReference>
    <status>Active</status>
    <variables>
        <name>countSurveyResults</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>loopGetSurveyVariables</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>singleSurveyResult</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>SurveyResults</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Survey_Results__c</objectType>
    </variables>
    <variables>
        <name>varSurveyCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSurveyScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
